* {
  margin  : 0px;
  padding : 0px;
  border  : 0px;
  font-family : 'profont_regular';
}

body {
  background-color: #000000;
}

.maindiv {
  margin    : auto;
  max-width : 760px;
  height    : 100%;
  overflow  : hidden;
  background-color  : black;
  border-left  : 1px white solid;
  border-right : 1px white solid;
}

#custom_head {
  padding   : 20px;
  float     : left;
  overflow  : hidden;
  width     : 100%;
  border-bottom : 1px white solid;
}

#logo_link {
  overflow  : hidden;
  float     : left;
}

#logo {
  float     : left;
  width     : 180px;
}

#menu {
  float          : left;
  overflow       : hidden;
  padding-left   : 20px;
  padding-right  : 20px;
}

#menu a {
  float   : left;
  padding : 10px;
  /* border  : 1px white solid; */
  color   : white;
  text-decoration : none;
  /* font-weight     : 700; */
  text-transform  : uppercase;
  font-size       : 12px;  
  font-family     : 'profont_bold';
  width           : 100%;
}

#menu a:hover {
  color            : black;
  background-color : white;
}
