@font-face {
    font-family: 'profont_bold';
    src: url('fonts/profont_bold_for_powerline-webfont.woff2') format('woff2'),
         url('fonts/profont_bold_for_powerline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'profont_regular';
    src: url('fonts/profont_for_powerline-webfont.woff2') format('woff2'),
         url('fonts/profont_for_powerline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

